@page
@using HottaPiz.Infrastructure.Utilities.PathTools
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using System.Security.Claims
@model HottaPiz.Web.Pages.IndexModel
@{
    ViewData["Title"] = "Pizza's";
}
<div class="container text-center text-white">
    <div class="bg-secondary">
        <div class="row p-5"> 
            <div class="col-6">
                <img src="@PathGenerator.GetPizzaImageAddress("pizza-three.png")" class="w-75" alt="Create Your Own Pizza" />
            </div>
            <div class="col-6 p-5">
                <h4 class="mt-5">Create Your Own Pizza !</h4>
                <a class="btn btn-primary rounded-pill btn-lg" href="/CreateCustom">Let's Start !</a>
            </div>
        </div>
    </div>
    <br/>
    <div class="bg-secondary">
        <div class="row p-5">
            <h2 class="mt-3"><b>Pizza's Menu</b></h2>
            <hr/>
            @foreach (var pizza in Model.Pizzas)
            {
                <div class="col-4 my-5">
                    <img src="@PathGenerator.GetPizzaImageAddress(pizza.PizzaImageName)" alt="@pizza.PizzaName" class="w-100"/>
                    <h4 class="my-4"><b>@pizza.PizzaName</b></h4>
                    <a class="btn rounded-pill btn-primary">Add To Order</a>
                    @if(User.Identity.IsAuthenticated && bool.Parse(User.FindFirstValue("IsAdmin")))
                    {
                    <a class="btn rounded-pill btn-success" href="/Pizza/Update/@pizza.Id">Update Pizza</a>
                    }
                </div>
            }
        </div>
    </div>
</div>